.tamanho {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}
.div-end{
  width: 90px;
}
ion-title {
  text-align: center;
}
.div-tel{
  width: 130px;
}
.mat-card{
  background-color: #b39ddb;
  
}

ion-avatar{
  width: 120px;
  height: 115px;
  margin: auto;
}

.botao {
  text-align: center;
}

.labelstyle{
  color: black;
}

.margem{
  padding: 12px;
  background-color: #f3e5f5;
}

mat-form-field{
  margin: 6px;
}